.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}
.isLoading {
  text-align: center;
  font-size: 2rem;
  color: white;
  letter-spacing: 5px;
  font-weight: bold;
  background-color: rgba(21, 21, 21, 0.721);
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  padding: 8px;
}
.httpError {
  padding: 8px;

  margin: auto;

  text-align: center;
  font-size: 2rem;
  color: rgb(249, 14, 14);
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 15px;
  width: fit-content;
  background-color: whitesmoke;
}
.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
